:host, .auth-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
  padding-bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
}
