<div class="plan-detail">
  <div class="plan-header">
    <h1 class="plan-title">Crédito 1</h1>
  </div>

  <div class="currency-wrapper">
    <div class="currency-toggle">
      <button
        type="button"
        [class.active]="currency === 'PEN'"
        (click)="setCurrency('PEN')">
        PEN
      </button>
      <button
        type="button"
        [class.active]="currency === 'USD'"
        (click)="setCurrency('USD')">
        USD
      </button>
      <button
        type="button"
        [class.active]="currency === 'EUR'"
        (click)="setCurrency('EUR')">
        EUR
      </button>
    </div>
  </div>
<div class="indicatror-container">
  <div class="indicators-box" *ngIf="plan">
    <table class="indicators-table">
      <tr>
        <th>Total de intereses</th>
        <td>{{ plan.totalInterest | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Total de amortizacion</th>
        <td>{{ plan.totalAmortization | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Seguro de desgravamente</th>
        <td>{{ plan.totalCreditLifeInsurance | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Seguro contra todo riesgo</th>
        <td>{{ plan.totalRiskInsurance | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Comisiones periodicas</th>
        <td>{{ plan.totalCommissions | number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Portes / Gastos de adm.</th>
        <td>{{ plan.totalPostageAndFees | number:'1.2-2' }}</td>
      </tr>
    </table>

  </div>
  <div class="indicators-box" *ngIf="plan">
    <table class="indicators-table">
      <tr>
        <th>Tasa de descuento</th>
        <td>{{ plan.periodicDiscountRate*100 | number:'1.4-4' }}%</td>
      </tr>
      <tr>
        <th>TIR de la operación</th>
        <td>{{ plan.irr*100 | number:'1.4-4' }}%</td>
      </tr>
      <tr>
        <th>TCEA de la operación</th>
        <td>{{ plan.effectiveAnnualCostRate*100 | number:'1.4-4' }}%</td>
      </tr>
      <tr>
        <th>VAN operación</th>
        <td>{{ plan.npv / exchangeRate | currency:currency:'symbol':'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Monto del prestamo</th>
        <td>{{ plan.loanAmount| number:'1.2-2' }}</td>
      </tr>
      <tr>
        <th>Nº Total de Cuotas</th>
        <td>{{ plan.totalInstallments | number:'1.1-1' }}</td>
      </tr>
    </table>

  </div>
</div>
  <div class="table-container">
    <table class="installments-table">
      <thead>
      <tr>
        <th>N°</th>
        <th>Fecha</th>
        <th>TEA</th>
        <th>i′</th>
        <th>IA</th>
        <th>IP</th>
        <th>P.G</th>
        <th>Saldo Inicial</th>
        <th>Saldo Inicial Indexado</th>
        <th>Interés</th>
        <th>Cuota (inc Seg. Des)</th>
        <th>Amort.</th>
        <th>Prepago</th>
        <th>Seg. Desgrav.</th>
        <th>Seg. Riesgo</th>
        <th>Comisión</th>
        <th>Portes</th>
        <th>Gastos Adm.</th>
        <th>Saldo Final</th>
        <th>Flujo</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let i of installments">

        <td>{{ i.number }}</td>

        <td>{{ getInstallmentDate(i) | date:'dd/MM/yyyy' }}</td>

        <td>{{ i.annualEffectiveRate | number:'1.2-2' }}%</td>
        <td>{{ i.periodEffectiveRate*100 | number:'1.2-2' }}%</td>
        <td>{{ i.annualInflation*100 | number:'1.2-2' }}%</td>
        <td>{{ i.periodInflation*100 | number:'1.2-2' }}%</td>

        <td>{{ i.gracePeriodType }}</td>

        <td>
          {{ i.initialBalance / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.indexedInitialBalance / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.interest / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.installmentAmount / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.amortization / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.prepayment / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.creditLifeInsurance / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.riskInsurance / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.commission / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.postage / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.adminFees / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.finalBalance / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

        <td>
          {{ i.cashFlow / exchangeRate | currency:currency:'symbol':'1.2-2' }}
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <button
    type="button"
    class="cancel-btn"
    (click)="onCancel()">
    Volver
  </button>

  <div class="state-message" *ngIf="isLoading">Cargando cuotas...</div>
  <div class="state-message error" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
